<div class="row">
  <div class="col-lg-10" style="float:none;margin:auto;">
  <nb-card>
    <nb-card-header>
       Liste des canaux
    </nb-card-header>
  
    <nb-card-body>
      <table class='table table-bordered'>
        <thead style='background-color: #2d8ac7'>
        <tr>
          <th>#</th>
          <th>Date Achat</th>
          <th>Actions</th>
  
  
        </tr>
        </thead>
        <tbody style='background-color:white' >
        <tr >
             <th scope='row'>Tiko</th>
          <td>Tiko</td>
          <td > <button nbButton status="success">Voir Produits achetés</button>  </td>
  
        </tr>
        <tbody>
      </table>
    </nb-card-body>
  </nb-card>
  </div>
</div>